<link rel="stylesheet" href="/css/recipe.css">
<link rel="stylesheet" href="/css/gallery_images.css">
<center>
    {{#if url}}
        <h1>
            {{name}}
        </h1>
    {{else}}
    <h1>
       {{name}}
    </h1>
    {{/if}}
    <img src = {{img_link}} alt = {{alt}} style="width: 25%;" onerror='javascript:this.src="/img/default_chef.jpg"'>
    {{#if url}}
    <br>
        Check now <a href={{url}}>{{url}}</a> 
    {{/if}}
    {{#if Telephone_Number}}
    <br>
        Call Now <a href="tel:{{Telephone_Number}}">{{Telephone_Number}}</a> 
    {{/if}}
    <h3>Other Famous Dishes by {{name}}...</h3>
    <div class="row">
        {{#each recipes}}
            <div class="column">
                <div class="card">
                    <a href={{link}}>
                        <img src = {{img_link}} alt={{alt}} style="width:100%">
                        <div class="container">
                            <h2>{{name}}</h2>
                            <p><button class="button">View</button></p>
                        </div>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
    
</center>
