<center>
    <h1 class="title is-family-primary">Home</h1>
</center>
<center>
    <h2 class="subtitle is-family-secondary">{{recipes_count}} Reciepes From {{chef_count}} Chefs</h2>
    
    <div class="columns">
        {{#each recipes}}
            <div class="column is-one-quarter">
                <div class="card">
                    <a href='{{link}}'>
                        <div class="card-image">
                            <figure class="image is-256x256 is-4by3">
                                <img src = {{img_link}} alt={{alt}}>
                            </figure>
                        </div>
                        <div class="content">
                            <h2>{{name}}</h2>
                            <p><button class="button">View</button></p>
                        </div>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
    <p>Questions? Checkout our
        <a href="/about" data-test-id="about">about US</a> page!
    </p>
    
</center>
