<link rel="stylesheet" href="/css/recipe.css">
<link rel="stylesheet" href="/css/main_numbers.css">
<div id="post_ID" style="display: none;">{{id}}</div>
<center>
    <h1 id="name">
        {{name}}
    </h1>
    <h2>By <a href="/chefs/{{by}}">{{by}}</a></h2>
    <img src = {{img_link}} alt = {{alt}}>
</center>
<h2>Ingredients</h2>
<table>
    <th>
        <td>Quantity</td>
    </th>
    {{#each Ingredients}}
    <tr>
        <td>
            <a href={{url}}>{{name}}</a>
        </td>
        <td id="quantity">
            {{Quantity}} {{Measurement}}
        </td>
    </tr>
    {{/each}}
</table>
<h2>Steps</h2>
<ol>
    {{{steps}}}
</ol>
{{#unless logged_out}}
    <button onclick="report({{name}},{{by}})" id="report" style="background-color: red;">Report</button>
{{/unless}}