<div id="post_ID" style="display: none;">{{id}}</div>
<div class="columns">
    <div class="column is-half">
        <center>
            <h1 class="title is-family-primary" id="name">
                {{name}}
            </h1>
            <h2 class="subtitle">By <a href="/chefs/{{by}}" class="is-family-secondary">{{by}}</a></h2>
            <figure class="image is-4by3">
                <img id = "food_pic" src = {{img_link}} alt = {{alt}}>
            </figure>
        </center>
    </div>
    <div class="column is-half">
        <div class="section">
            <h2 class="subtitle">Ingredients</h2>
                <div class="columns">
                    <div class="column is-one-fifth is-offset-four-fifths">
                        Quantity
                    </div>
                </div>
                {{#each Ingredients}}
                <div class="columns">
                    <div class="column is-four-fifths">
                        {{name}}
                    </div>
                    <div class="column">
                        {{Quantity}} {{Measurement}}
                    </div>
                </div>
                {{/each}}
        </div>
        <div class="section">
        <h2 class="subtitle">Steps</h2>
        <ol>
            {{{steps}}}
        </ol>
        {{#unless logged_out}}
            <button onclick="report({{name}},{{by}})" id="report" style="background-color: red;">Report</button>
        {{/unless}}
        </div>
    </div>
</div>